.Connect{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    text-align: center;
}

.connectPara1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.connectPara2{
    color: #93989B;
    font-size: 1.2rem;
}
