.FooterBottom{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 10rem;
    justify-content: center;
}

.FooterBottomServices{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.FooterBottomServices a{
    margin-left: 1rem;
    font-size: 0.95rem;
    color: gray;
}